<div class="col-md-12">
  <%= form_for @course do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :description %>
    <div class="form_actions">
      <%= f.submit "submit", :disable_with => "submiting...", :class => "btn btn-primary" %>
    <% div %>
  <% end %>
</div>
